[report]
omit = 
      */python?.?/*
      */__pycache__/
       *.py[cod]
       *$py.class
      */.pyc
      */.pytest_cache/*
      */venv 
      */simplejson/*
      *Procfile
      */usr/lib/python3/dist-packages/*
      tests/*
      *__init__.py