aniso8601==4.0.1
Click==7.0
configobj==5.0.6
enum34==1.1.6
Flask==1.0.2
Flask-RESTful==0.3.6
flask-restplus==0.12.1
functools32==3.2.3.post2
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
nemo-emblems==3.8.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparted==3.11.1
python-apt==1.6.0
python-xlib==0.20
pytz==2018.7
pytest-cov
pyxdg==0.25
setproctitle==1.1.10
six==1.11.0
virtualenv==16.0.0
Werkzeug==0.14.1
